@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Cambiare il colore di una div con CSS</title>
            <style>
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            /* .col-sm-4 {
                margin: 10px; 
            } */
            .row {
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }
            body {
            background-image: url('https://images4.alphacoders.com/280/280636.jpg');
            background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed; 
            }

            h1 {
                color: #fff;
                text-align: center;
            }
            </style>
        </head>
    <h1>Eduard Stefanica WebAppFootball </h1>
    <body>
        
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-4 mb-1 mb-sm-0">
                <div class="card d-flex align-items-stretch">
                    <div class="card-body text-center">
                        <h5 class="card-title">Campionato</h5>
                        <h6 class="card-body">Lista dei Campionati</h6>
                        <a class="btn btn-outline-danger" asp-area="" asp-controller="campionato" asp-action="Index">Campionato</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-1 mb-sm-0">
                <div class="card d-flex align-items-stretch">
                    <div class="card-body text-center">
                        <h5 class="card-title">Squadra</h5>
                        <h6 class="card-body">Lista delle Squadre</h6>
                        <a class="btn btn-outline-danger" asp-area="" asp-controller="Squadra" asp-action="Index">Squadra</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-1 mb-sm-0">
                <div class="card d-flex align-items-stretch">
                    <div class="card-body text-center">
                        <h5 class="card-title">Giocatore</h5>
                        <h6 class="card-body">Lista dei Giocatori</h6>
                        <a class="btn btn-outline-danger" asp-area="" asp-controller="Giocatore" asp-action="Index">Giocatore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>