@model WebAppMVCFootball.Models.TGiocatore

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <style>
        /* Stile per la riga della tabella */
        .table tbody tr {
            background-color: #fff;
            color: #FFF;
        }

        h1 {
            color: White;
            text-align: center;
        }
        /* Stile per la riga della tabella */
        .table tbody tr {
            background-color: #fff !important;
            color: #fff;
        }
        /* Stile per la tabella */
        .table {
            border-radius: 10px;
            overflow: hidden;
        }
        /* Stile per l'intera pagina */
        body {
            background-image: url('https://wallpaperset.com/w/full/d/4/3/24270.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
        }
        /*stile del create new*/
        a {
            color: #fff;
            /* background-color: #007bff; */
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
        }
    </style>
</head>
<br />

<body>
    <center>
<h1>Edit Giocatore</h1>

<div class="row"><center>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eta" class="control-label"></label>
                <input asp-for="Eta" class="form-control" />
                <span asp-validation-for="Eta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSquadra" class="control-label"></label>
                <select asp-for="IdSquadra" class="form-control" asp-items="ViewBag.IdSquadra"></select>
                <span asp-validation-for="IdSquadra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazionalita" class="control-label"></label>
                <input asp-for="Nazionalita" class="form-control" />
                <span asp-validation-for="Nazionalita" class="text-danger"></span>
            </div><br />
            @* bottoni *@
            <div style="display: flex; justify-content: space-between;">
            <div>
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            </div>
        </form>
    </div>
    </center>
</div>


</center>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
